git-url-parse
django<2.0
django-distill
django-eventtools
git+https://gitlab.com/gitmate/open-source/IGitt
django-geoposition
requests
python-dateutil
pillow
ruamel.yaml
markdown2
python_dateutil
PyGithub
xmltodict
getorg
jupyter
ipyleaflet
