git-url-parse
django
django-distill
django-eventtools
git+https://gitlab.com/jayvdb/IGitt.git@74a0141f3d77b8a51b6d964f9c64da67751e3762
requests
python-dateutil
pillow
ruamel.yaml
markdown2
python_dateutil
PyGithub
xmltodict
