git+https://gitlab.com/coala/coala-utils.git
git-url-parse
django>2.1,<2.2
django-distill
django-eventtools
git+https://gitlab.com/jayvdb/IGitt.git@74a0141f3d77b8a51b6d964f9c64da67751e3762
requests
git+https://github.com/andrewda/trav.git@ce805d12d3d1db0a51b1aa26bba9cd9ecc0d96b8
python-dateutil
pillow
ruamel.yaml
markdown2
PyGithub
xmltodict
