{% extends "model/templates/base.html" %}
{% block title %}
<title>Affiliated Contributors List</title>
{% endblock %}
{% block content %}
<h1>Affiliated Contributors List</h1>
{% if affiliated_committer_list %}
<ul>
  {% for affiliatedcommitter in affiliated_committer_list %}
  <li>
    <a href="{{ affiliatedcommitter.get_absolute_url }}">{{ affiliatedcommitter.name }}</a>
  </li>
  {% endfor %}{# for affiliatedcommitter in affiliated_committer_list #}
</ul>
{% else %}
<p>There are no contributor.</p>
{% endif %}{# if affiliated_committer_list #}
{% endblock %}
