{% extends "model/templates/base.html" %}
{% block title %}
<title>Outside Committer List</title>
{% endblock %}
{% block content %}
<h1>Outside Committer List</h1>
{% if outside_committer_list %}
<ul>
  {% for outsidecommitter in outside_committer_list %}
  <li>
    <a href="{{ outsidecommitter.get_absolute_url }}">{{ outsidecommitter.name }}</a>
  </li>
  {% endfor %}{# for outsidecommitter in outside_committer_list #}
</ul>
{% else %}
<p>There are no outside committers.</p>
{% endif %}{# if outside_committer_list #}
{% endblock %}
