{% extends "model/templates/base.html" %}
{% block title %}
<title>{{ outsidecommitter.name }}</title>
{% endblock %}
{% block content %}
<h1>Details of: {{ outsidecommitter.name }}</h1>
<p><strong>name:</strong>{{ outsidecommitter.name }}</p>
<p><strong>org:</strong> {{ outsidecommitter.org }}</p>
<p><strong>kudos:</strong> {{ outsidecommitter.kudos }}</p>
<p><strong>level:</strong> {{ outsidecommitter.level }}</p>
<p><strong>affiliated with:</strong>{{ affiliated_committer.affiliated_with }}</p>
<p><strong>projects:</strong>{{ affiliated_committer.contributions_to_portfolio_projects.projects }}</p>
<p><strong>twelve_mo_commits:</strong>{{ affiliated_committer.contributions_to_portfolio_projects.twelve_mo_commits }}</p>
{% endblock %}
