{% extends "model/templates/base.html" %}
{% block title %}
<title>Outside Project List</title>
{% endblock %}
{% block content %}
<h1>Outside Project List</h1>
{% if outside_project_list %}
<ul>
  {% for outsideproject in outside_project_list %}
  <li>
    <a href="{{ outsideproject.get_absolute_url }}">{{ outsideproject.name }}</a>
  </li>
  {% endfor %}{# for outsideproject in outside_project_list #}
</ul>
{% else %}
<p>There are no outside projects.</p>
{% endif %}{# if outside_project_list #}
{% endblock %}
