{% extends "model/templates/base.html" %}
{% block title %}
<title>{{ portfolioproject.name }}</title>
{% endblock %}
{% block content %}
<h1>Details of: {{ portfolioproject.name }}</h1>
<p><strong>name:</strong>{{ portfolioproject.name }}</p>
<p><strong>activity:</strong> {{ portfolioproject.activity }}</p>
<p><strong>i_use_this:</strong> {{ portfolioproject.i_use_this }}</p>
<p><strong>primary_language:</strong> {{ portfolioproject.primary_language }}</p>
<p><strong>community_rating:</strong>{{ portfolioproject.community_rating }}</p>
<p><strong>org:</strong>{{ portfolioproject.org }}</p>
<p><strong>commits:</strong>{{ portfolioproject.twelve_mo_activity_and_year_on_year_change.commits }}</p>
<p><strong>change_in_commits:</strong>{{ portfolioproject.twelve_mo_activity_and_year_on_year_change.change_in_commits }}</p>
<p><strong>percentage_change_in_commits:</strong>{{ portfolioproject.twelve_mo_activity_and_year_on_year_change.percentage_change_in_commits }}</p>
<p><strong>contributors:</strong>{{ portfolioproject.twelve_mo_activity_and_year_on_year_change.contributors }}</p>
<p><strong>change_in_contributors:</strong>{{ portfolioproject.twelve_mo_activity_and_year_on_year_change.change_in_contributors }}</p>
<p><strong>percentage_change_in_committers:</strong>{{ portfolioproject.twelve_mo_activity_and_year_on_year_change.percentage_change_in_committers }}</p>
{% endblock %}
