{% extends 'includes.html' %}
{% block content %}
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <h1 class="header center  col-test">Welcome</h1>
            <div class="row center">
                <h5 class="header col s12 light">Hello, world. You are at the {{ org_name }} community GCI website.</h5>
            </div>
        </div>
        {% include 'issues_graph.html' %}

    </div>

    {% include 'footer.html' %}
    <!--Import jQuery before materialize.js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.js"></script>
    <script src="../static/js/charts.js"></script>
    <script>
        $(document).ready(function () {
            $('select').material_select();
        });
        $('#chartType').on('change', function () {
            updateChart($('#chartType').val())
        });
        updateChart($('#chartType').val());
    </script>
{% endblock %}
</body>
</html>
