<footer class="page-footer">
    <div class="footer-copyright">
        <div class="container">
            <span class="left">© 2017 {{ org_name }}</span>
            <a class="grey-text text-lighten-4 right" href="https://github.com/{{ org_name }}"><i
                    class="fa fa-github fa-2x"></i></a>&nbsp;&nbsp;
            <a class="grey-text text-lighten-4 right" href="https://twitter.com/{{ org_name }}"><i
                    class="fa fa-twitter fa-2x"></i></a>
        </div>
    </div>
</footer>
