<!DOCTYPE html>
<html>
<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/main.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
</head>
<body>

<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">&nbsp;<img
                src="{{ org_logo }}"></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/gci">GCI</a></li>
            <li><a href="/activity">Github Activity</a></li>
            <li><a href="/twitter">Twitter Feed</a></li>
            <li><a href="/log">Logs</a></li>
        </ul>
    </div>
</nav>

{% block content %}
{% endblock %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
