<div class="row center">
    <div class="input-field col s4">
        <select id="chartType">
            <option value="Month" selected>Year</option>
            <option value="Week">Month</option>
            <option value="Day">Week</option>
        </select>
        <label>Time Interval</label>
    </div>
    <div class="col s12 center">

        <div class="card white darken-1">
            <div class="card-content black-text">
                <span class="card-title">Issues</span>

                <div>
                    <canvas id="canvas"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
