<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>OpenHub Organization Data</title>
  </head>
  <body>
    <h1>All of our Portfolio Projects</h1>
    {% for project in projects %}
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <div class="caption">
              <p>name: {{project.name}}</p>
              <p>activity: {{project.activity}}</p>
              <p>i_use_this: {{project.i_use_this}}</p>
              <p>primary_language: {{project.primary_language}}</p>
              <p>community_rating: {{project.community_rating}}</p>
              <p>org: {{project.org}}</p>
              <p>commits: {{project.twelve_mo_activity_and_year_on_year_change.commits}}</p>
              <p>change_in_commits: {{project.twelve_mo_activity_and_year_on_year_change.change_in_commits}}</p>
              <p>percentage_change_in_commits: {{project.twelve_mo_activity_and_year_on_year_change.percentage_change_in_commits}}</p>
              <p>contributors: {{project.twelve_mo_activity_and_year_on_year_change.contributors}}</p>
              <p>change_in_contributors: {{project.twelve_mo_activity_and_year_on_year_change.change_in_contributors}}</p>
              <p>percentage_change_in_committers: {{project.twelve_mo_activity_and_year_on_year_change.percentage_change_in_committers}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
    {% endfor %}
  </body>
</html>
